@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Open+Sans:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: default;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;

  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.logo {
  font-family: "Barlow", sans-serif;
  color: rgb(33, 142, 196);
}

nav a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.subtitle {
  font-family: "Barlow", sans-serif;
  color: rgb(19, 86, 120);
  font-weight: normal;
  font-size: 50px;
}

.btn {
  width: 200px;
  color: white;
  background-color: rgb(33, 142, 196);
}
.btn:hover {
  color: white;
  border: solid white 1px;
}

.card {
  border: none;
  background-color: rgb(47, 152, 245);
  color: white;
  margin: 10px;
}

svg {
  height: 100px;
  width: 100px;
  margin: 10px;
  stroke: white;
}

.main-text {
  font-size: 24px;
}

.barnav {
  z-index: 10000;
}

li {
  list-style-position: inside;
}

h2 {
  color: rgb(40, 126, 201);
  font-size: 40px;
}

.carousel-item {
  font-size: 2em;
}

@media (max-width: 500px) {
  .carousel-item {
    font-size: 1.5em;
  }
}

.testimonial {
  height: 300px;
}

.service-section:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}
